@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
   
    font-family: "Open Sans", sans-serif;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    
    background: #f1faff;
    color: #3d4756;
    position: relative;
    z-index: 10; /* determines the stack order of an element. If the element has higher z-index than another element, then it will be displayed on top of that element*/
    box-shadow: 0 4px 20px 0 rgb(149, 232, 238); 
    /*box-shadow: 0 0 32px 0 #cacde1;*/
    /* box-shadow: h-offset v-offset blur spread color */
}

 .nav-inner {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-brand {
    padding: 1rem 0;

}

.nav-links{
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    padding: 1rem;
    font-weight: 1000;
    font-size: 1.25rem;
    color: #3d4756;
    text-decoration: none;
}



.nav-hamburger {
    display: none; /* At screen size greater than 600 pixels, we will hide the hamburger menu */
}

#extraFeatures{
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    border-color: red;
    border-style: solid;
    border-radius: 20px;
}

#speechToTextFeature {
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

}

#ocrFeature {
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

#dictionaryFeature {
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

#calculatorFeature {
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

#budgetTrackerFeature {
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

#imageGalleryFeature {
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}


/* START OF CSS FOR OCR */

#ocrBody {
    text-align: center;
	font-family: arial;
    
}

#ocrButton {
    background-color: rgb(141, 236, 141);
}

/* END OF CSS FOR OCR */

/* START OF CSS FOR SPEECH TO TEXT */
#speechToTextBody {
    text-align: center;
	font-family: arial;
}

#speechToTextButton {
    padding:10px;
	background-color:#6a67ce;
	color: #FFFFFF;
	border: 0px;
	cursor:pointer;
	border-radius: 5px;
}

#speechToTextOutput {
    margin-top:20px;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	line-height:30px;
    background-color:#3bde4e;
	text-align: center;
}
/* END OF CSS FOR SPEECH TO TEXT */

/* START OF CSS FOR CALCULATOR */
#calcu {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.calculatorButton {
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(177, 93, 187);
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#result {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}


@media (max-width: 600px) {
    /* If screen size is less than 600 pixels, then this CSS will apply */
.nav-hamburger {
    display: block;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} 

#extraFeatures {
    padding: 5px;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}
}