@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    
    font-family: "Open Sans", sans-serif;
    background-image: url('Images/NotebooksPage2Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    
    background: #f1faff;
    color: #3d4756;
    position: relative;
    z-index: 10; /* determines the stack order of an element. If the element has higher z-index than another element, then it will be displayed on top of that element*/
    box-shadow: 0 4px 20px 0 rgb(149, 232, 238); 
    /*box-shadow: 0 0 32px 0 #cacde1;*/
    /* box-shadow: h-offset v-offset blur spread color */
}

.nav-inner {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-brand {
    padding: 1rem 0;

}

.nav-links{
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: #3d4756;
    text-decoration: none;
}



.nav-hamburger {
    display: none; /* At screen size greater than 600 pixels, we will hide the hamburger menu */
}

#addNote {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 300px;
    width: 300px;
    display: inline-block;
    border-color: green;
    border-style: solid;

}

#displayNotes {
    margin-top: 50px;
    margin-right: 20px;
    width: 40%;
    display: inline-block;
    border-color: blue;
    border-style: solid;
}

#noteTitleAndContentContainer{
    padding: 5px;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    
}

#noteForm {
    padding: 10px 0;
    text-align: center;
    background-color: rgba(211, 27, 27, 0.8);
    font-size: 30px;
}

#noteTitle {

    width: 90%;
    text-align: center;
}

#noteContent {
    width: 90%;
    height: 350px;
    resize: none;
}



#advancedEditorAndSubmit {
    
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}



/*
#titleAndContent > * {
    padding: 20px 0;
    text-align: center;
    background-color: rgba(211, 27, 27, 0.8);
    font-size: 30px;
}

*/


table, th, tr, td {
    /* th = table header, tr = table row, td = table cell/table data */
	border: 2px solid;
	text-align: center;
    width: 100%; /* 100% to fill in the entire content area of the parent div */
	justify-content: center;
	
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	
	bottom:auto;
}

@media (max-width: 600px) {
    /* If screen size is less than 600 pixels, then this CSS will apply */
.nav-hamburger {
    display: block;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#addNote {
    margin: 100px auto;
    display: block; /* To prevent the div going inline-block when screen size is less than 600 pixels */
}

#displayNotes {
    margin: 100px auto;
    display: block;
}
}

