
/*
#menuAbove and #menuBelow is for buttons/options in the current modal. #menuAbove is supposed to be for 
accessibility options, #menuBelow is for editing, deleting, and more about modifying the current note
*/



#deleteAndEditContainerID{
    text-align: left;
    background-color: red;
}


#noteTitleSelected {
    text-align: center;
    
}

#accessibilityOptionsID {
    float: right;
    
}

#noteContentID {
    width: 90%; 
    display: inline-block;
}